body, html {
    height: 100%;
    width: 100%;
    background-color: #f6f5f6;
}
.navbar-main {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    margin-bottom: -50px;
}
.navbar-main a {
    color: white;
}
.nav>li>a:hover {
    color: #00bf8f;
    background-color: #f6f5f6;
}
.jumbotron {
    margin-top: 0;
    padding-top: 50px;
    background-color: #00bf8f;
}
#head-link {
    font-family:'Lily Script One', cursive;
    color: #fff;
    cursor: pointer;
    font-size: 7em;
    padding-bottom: 0;
    margin-bottom: 0;
}
.stylish-input-group .input-group-addon {
    background: white !important;
}
.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}
.stylish-input-group button {
    border: 0;
    background: transparent;
}
.panel.panel-card {
    position: relative;
    height: 241px;
    border: 1px solid #d3d3d3;
    overflow: hidden;
}
.panel.panel-card .panel-heading {
    position: relative;
    z-index: 2;
    height: 120px;
    border-bottom-color: #fff;
    overflow: hidden;
    -webkit-transition: height 600ms ease-in-out;
    transition: height 600ms ease-in-out;
}
.panel.panel-card .panel-heading img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 120%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}
.panel.panel-card .panel-heading a {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 3;
}
.panel.panel-card .panel-figure {
    position: absolute;
    top: auto;
    left: 50%;
    z-index: 3;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
    -webkit-box-shadow: 0 0 0 3px #fff;
    box-shadow: 0 0 0 3px #fff;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}
.panel.panel-card .panel-body {
    padding-top: 40px;
    padding-bottom: 20px;
    -webkit-transition: padding 400ms ease-in-out;
    transition: padding 400ms ease-in-out;
}
.panel.panel-card .panel-thumbnails {
    padding: 0 15px 20px;
}
.panel-thumbnails .thumbnail {
    width: 60px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
}
.panel.panel-card:hover .panel-heading {
    height: 55px;
    -webkit-transition: height 400ms ease-in-out;
    transition: height 400ms ease-in-out;
}
.panel.panel-card:hover .panel-figure {
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}
.panel.panel-card:hover .panel-body {
    padding-top: 20px;
    -webkit-transition: padding 400ms ease-in-out;
    transition: padding 400ms ease-in-out;
}
.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
}
.search-form {
    transform: translateY(15%);
    top: 50%;
    height: 50px;
    position: relative;
}
.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
    color: white;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
    color: white;
}
.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
    color: white;
}
.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
    color: white;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
    color: white;
}
.search-form .form-group:hover, .search-form .form-group.hover {
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid white;
}
.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: white;
    left: initial;
    font-size: 14px;
}
.row.footer {
    padding-bottom: 50px;
}
span[data-sparkline] {
    display: inline-block;
}
.table td, .table th {
    text-align: center;
}
.page-header {
    font-family:'Roboto'
}
@media (min-width: 992px) {
    #report-block {
        margin-top: 40px;
    }
}
#report-block .well, #dataset-hero {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .25);
    transition: box-shadow 0.2s ease;
}
#report-block .well:hover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .45);
}
#report-block .well {
    cursor:pointer;
    color: white
}
#report-block .well > a {
    color: white !important;
    text-decoration: none;
}
#report-block .well > a:hover {
    text-decoration: none;
}
#dataset-hero {
    color: white;
}
.content {
    margin-top: -30px;
    width: 100%;
    height: 100%;
    padding: 25px;
    background: #fff;
    display: table;
}
.sidebar {
    float: right;
    text-align: left;
    width: 40%;
    text-indent: 5em;
}
.sidebar > ul {
    list-style: none;
}
.sidebar > p {
    text-indent: 0;
    margin-left: 5em;
}
.message {
    display:none;
    text-align: center;
    color: white;
}
.msg-err {
    background-color: #a94442;
    color: white;
    text-align: center;
}

.carousel-control.left, .carousel-control.right {
    background: 0;
}
.chart-hero {
    text-align: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .25);
    color: white;
}

/** extra small screens  **/
@media(max-width:767px) {
    .navbar-nav>li {
        display: inline-block;
        float: left;
    }
    ul.navbar-nav:not(.navbar-right) {
        display: inline-block;
    }
    .navbar-right {
        float: right;
    }
    .navbar-main {
        position: absolute;
        width: 100%;
    }
    .chart-hero {
        border-radius: 0 !important;
    }
    .content {
        border: 0;
    }
    #page-container {
        padding-left: 0;
        padding-right: 0;
    }
}

/** not extra small screens **/
@media(min-width:768px) {
    .chart-hero {
        border-radius: 6px 6px 0px 0px !important;
    }
    .content {
        border: 1px solid rgb(231, 231, 231);
    }
}