<div class="container">
    <div class="content">
        
        <div class="sidebar">
            <h3>Statistics <small><i>updated daily</i></small></h3>
            <ul>
                <li>
                    <b>Indexed Viners</b> - <span class="formatInt" data-format="0,0">{{users}}</span>
                </li>
                <li>
                    <b>Total Logged Loops</b> - <i>Calculating soon...</i>
                </li>
                <li>
                    <b>Total Scraped Posts</b> - <i>Calculating soon...</i>
                </li>
                <li>
                    <b>Last Updated</b> - <script type="text/javascript">document.write(new Date("{{lastUpdated}}").toLocaleString())</script>
                </li>
            </ul>
            <p>These statistics are not live updating, at least not yet. 
            They are updated once per day.</p>
            
            <h3>Contact Us</h3>
            <ul>
                <li>
                    Data inquiries - <a href="mailto:data@davine.co">data@davine.co</a>
                </li>
                <li>
                    Feature Requests / Report a Bug - <a href="https://github.com/austindizzy/davine/issues">Github Issues</a>
                </li>
                <li>
                    Press/Media Inquiries - <a href="mailto:press@davine.co">press@davine.co</a>
                </li>
                <li>
                    Other Inquiries - <a href="mailto:contact@davine.co">contact@davine.co</a>
                </li>
            </ul>
            <p>
                <a href="https://austindizzy.me" target="_blank">Austin Dizzy</a> (project developer) and <a href="https://mattbettiol.com" target="_blank">Matt Bettiol</a> (project investor) can be contacted using methods listed on their respective personal websites.
            </p>
            <div class="row">
                <span class="col-md-2 col-xs-2 col-md-offset-2" style="height:3px;background-color:#00447c;"></span>
                <span class="col-md-2 col-xs-2" style="height:3px;background-color: #eeb111;"></span>
                <span class="col-md-2 col-xs-2" style="height:3px;background-color:#00447c;"></span>
                <span class="col-md-2 col-xs-2" style="height:3px;background-color: #eeb111;"></span>
                <span class="col-md-2 col-xs-2" style="height:3px;background-color:#00447c;"></span>
            </div>
            <div class="text-center col-md-10 col-md-offset-2" style="text-indent: 0;">
                Made by the hands of a proud <a href="https://about.wvu.edu">Mountaineer</a>, 
                in Morgantown, WV.
            </div>
        </div>
        
        <h2>What is this?</h2>

        <p style=" width: 60%;">Daine is a social analytics service
        built for Vine. In English speak, we can track how much your
        vines are growing by and show them to you in a few pretty
        graphs and tables. In Technology speak, we're an Open Data
        service that crawls Vine for users to track daily metrics for.
        We're fully <a href="https://github.com/austindizzy/davine"
        target="_blank">open source</a>, open data, and <a href=
        "/donate">ad-free</a>.</p>

        <h2>Who is this?</h2>

        <p style=" width: 60%;">I'll tell you one legal entity we
        aren't, Vine. We are in no way affiliad with, endorsed by, or
        sponsored by Vine Labs, Inc or Twitter Inc. We're just <a href=
        "https://austindizzy.me" target="_blank">one college kid</a>
        and <a href="https://mattbettiol.com" target="_blank">a noble
        investor</a>, both trying to make something useful out of our
        time and skills.</p>

        <h2 id="FAQ">F.A.Q.</h2>

        <p style="width:60%;"><b>What all do you track?</b> - As of
        writing, we track the following for each Vine member: number of
        followers; number of people user is following; total number of
        loops; number of revines; number of original posts; changes
        (including modification date) of username, profile location,
        profile background color, profile description; if and when a
        user becomes verified; and the deltas of all numeric
        values.</p>

        <p style="width:60%;"><b>What profiles do you track analytics
        for?</b> - Any profiles queried through our <a href=
        "/">homepage search</a> are auomatically added to our queue and
        their metrics will be fetch each day at 12AM Eastern Standard
        Time. Additionally, any users who reach the front two pages of
        the popular page or editors pick will automatically be added to
        the queue.</p>

        <p style="width:60%;"><b>You say you're open source and open
        data. Where can I access the source and all data?</b> - The
        Davine project is FOSS licensed under the MIT Open Source
        License. You can access the source, and report any issues, on
        its <a href="https://github.com/austindizzy/davine" target=
        "_blank">Github page</a>. You can download the data for an
        individual user on their profile page here on Davine. Simply
        click the "<i class="fa fa-download"></i> Download" button when on a 
        <a href="/random/user">user's page</a>.</p>

        <p style="width:60%;"><b>I do not want Davine to track my
        profile's metrics. How can I prevent Davine from doing so?</b>
        - In order to prevent Davine, and any other third-party
        service, from scraping your publicly available Vine
        information, your profile and posts must be set to Private.
        Read the <a href=
        "https://support.twitter.com/articles/20171749-account-settings-on-vine"
        target="_blank">Vine FAQ</a> page to learn how to do this.</p>
        
        <p style="width:60%"><b>I want to bulk/batch export specific users'
        data or bulk/batch export users' data from a search query.</b> - Please,
        contact us at <a href="mailto:data@davine.co">data@davine.co</a>.</p>
    </div>
</div>