<div class="container" id="page-container">
    <div class="content">
            <div class="row">
                <div class="col-md-8">
                    <h2 id="FAQ">F.A.Q.</h2>
                    <dl>
                        <dt>What is this?</dt>
                        <dd>Davine is a social analytics service built for Vine. In English, we can track how much and where your profile is growing by and show it all to you in a few pretty graphs and tables. In tech speak, we're an Open Data service that crawls Vine for users to track daily metrics for. We're fully <a href="https://github.com/AustinDizzy/davine" target="_blank">open source</a>, open data, and ad-free.</dd>
                        <dt>How are profiles added to Davine?</dt>
                        <dd>Davine tries to discover users all on its own by monitoring the feeds of all Vine channels and playlists.
                        If we can't find your profile or a profile you're looking for, you can submit the profile manually by submitting the
                            direct link to the Vine profile on our homepage. For example, if I wanted to submit SpaceX's profile, I would submit <samp>https://vine.co/SpaceX</samp>.
                            If you are unsure what the direct link to your profile is, it would be best to login to https://vine.co to find your URL.
                            <br>
                            If you are still having trouble, you can submit your profile to Davine by opening the Vine app, going to your profile tab, tap "Settings", select "Invite via email", and send the invitation to "share@davine.co". You should receive an email response if your submission was successful.
                        </dd>
                        <dt>Who is this?</dt>
                        <dd>I'll tell you one legal entity we aren't, Vine. We are in no way affiliad with, endorsed by, or sponsored by Vine Labs, Inc or Twitter Inc. We're just <a href="https://austindizzy.me" target="_blank">one college kid</a> and <a href="https://mattbettiol.com" target="_blank">a noble investor</a>, both trying to make something useful out of our time and skills.</dd>
                        <dt>I do not want Davine to track my profile's metrics. How can I prevent Davine from doing so?</dt>
                        <dd>In order to prevent Davine, and any other third-party service, from scraping your publicly available Vine information, your profile and posts must be set to Private. Read the <a href="https://support.twitter.com/articles/20171749-account-settings-on-vine" target="_blank">Vine FAQ</a> page to learn how to do this.</dd>
                        <dt>You say you're open source and open data. Where can I access the source and all data?</dt>
                        <dd>The Davine project is FOSS licensed under the MIT Open Source License. You can access the source, and report any issues, on its <a href="https://github.com/austindizzy/davine" target="_blank">Github page</a>. You can download the data for an individual user on their profile page here on Davine. Simply click the "<i class="fa fa-download"></i> Download" button when on a <a href="/random/user">user's page</a>.<br>
                            If you are looking for direct access to the entire Vine dataset, <a href="/top#dataset-hero">please sign up</a> to be notified when we launch access.
                        </dd>
                        <dt id="featured">How does the Featured Profile work?</dt>
                        <dd>Once a week, Davine picks a random user that is receiving email reports and displays that person's profile and latest Vine on our homepage. Think of this as free publicity. If you are interested in purchasing priority as a featured profile for a week, please contact us</dd>
                        <dt>I have a question that isn't listed here.</dt>
                        <dd>Feel free to contact us using the methods listed below, using the address that best fits your question.</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
            <div class="col-md-6">
                <h3>Contact Us</h3>
                <ul>
                    <li>
                        Data inquiries - <a href="mailto:data@davine.co">data@davine.co</a>
                    </li>
                    <li>
                        Feature Requests / Report a Bug - <a href="https://github.com/austindizzy/davine/issues">Github Issues</a>
                    </li>
                    <li>
                        Press/Media Inquiries - <a href="mailto:press@davine.co">press@davine.co</a>
                    </li>
                    <li>
                        Other Inquiries - <a href="mailto:contact@davine.co">contact@davine.co</a>
                    </li>
                </ul>
                <p>
                    <a href="https://austindizzy.me" target="_blank">Austin Dizzy</a> (project developer) and <a href="https://mattbettiol.com" target="_blank">Matt Bettiol</a> (project investor) can be contacted using methods listed on their respective personal websites.
                </p>
                <!-- START Reppin' Old Gold and Blue -->
                <span class="col-md-2 col-xs-2" style="height:3px;background-color:#00447c;"></span>
                <span class="col-md-2 col-xs-2" style="height:3px;background-color: #eeb111;"></span>
                <span class="col-md-2 col-xs-2" style="height:3px;background-color:#00447c;"></span>
                <span class="col-md-2 col-xs-2" style="height:3px;background-color: #eeb111;"></span>
                <span class="col-md-2 col-xs-2" style="height:3px;background-color:#00447c;"></span>
                <span class="col-md-2 col-xs-2" style="height:3px;background-color: #eeb111;"></span>
                <div class="text-center" style="text-indent: 0;">
                    <p>Made by the hands of a proud <a href="https://about.wvu.edu">Mountaineer</a>, 
                    in Morgantown, WV.</p>
                    <p><a href="https://github.com/AustinDizzy/davine/issues">Issues</a> | <a href="https://travis-ci.org/AustinDizzy/davine">Build Status</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Statistics <small><i>updated hourly</i></small></h3>
                <div style="text-align:center;padding:25px"><h4>Coming soon...</h4></div>
            </div>
            </div>
        </div>
    </div>
</div>