<style type="text/css" media="all">
    #discover-head, #discover-head small {
        text-align: center;
        color: white;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    #discover-head a {
        color: #00bf8f;
    }
</style>
<div class="container" id="page-container">
    <div class="jumbotron" id="discover-head">
        So far, we've seen...
        <h1>
            <span id="totalUsers">
                <span class="formatInt" data-format="0,0">{{totalUsers}}</span>
            </span> <small>users</small>
        </h1>
        of whom
        <h2>
            <a href="/discover/verified">
                <span id="totalVerified">
                    <span class="formatInt" data-format="0,0">{{totalVerified}}</span>
                </span> <small>are <span class="label label-verified">&check; Verified</span></small>
            </a>
        </h2>
        <h3>
            <a href="/discover/nsfw">
                <span id="totalExplicit">
                    <span class="formatInt" data-format="0,0">{{totalExplicit}}</span>
                </span> <small>are marked <span class="label label-nsfw">NSFW</span></small>
            </a>
        </h3>
    </div>
    <div class="content">
        <div class="page-header">
            <h2>Recently Discovered Users</h2>
        </div>
        <div class="row">
            {{#recentUsers}}
            <div class="col-sm-4 col-md-3">
                {{ > userCard.html }}
            </div>
            {{/recentUsers}}
        </div>
        <h2 class="text-center">
            <span id="24hUsers">
                <span class="formatInt" data-format="0,0">{{24hUsers}}</span>
            </span> <small>users discovered today</small>
        </h2>
    </div>
</div>
<script type="text/javascript" defer>
    $(function(){
        $("#discover-head").geopattern(document.title, {
            color: "#627371",
            generator: "chevrons"
        });

        var counts = {};
        setInterval(function(){
            $.getJSON("/api/statistics?" + new Date().getTime(), function(data){
               if(!data.success) {
                   console.log(data);
                   return;
               }
               $.each(Object.keys(data), function(i, k){
                  if(k != "success") {
                    var elem = $("#" + k);
                    if(elem.length > 0) {
                        var current = counts[k] || 0;
                        $({count: current}).animate({count: data[k]}, {
                          duration: 500,
                          step: function() {
                            elem.text(numeral(parseInt(this.count)).format("0,0"));
                          }
                        });
                        counts[k] = data[k];
                    }
                  }
               });
            });
        }, 10 * 1000);
    });
</script>