<div class="container" id="page-container">
    <div class="content">
        <style type="text/css">
            .btn-dogecoin {
                font-family "Comic Sans","Comic Sans MS",Chalkboard,ChalkboardSE-Regular,"Marker Felt",Purisa;
                color: #9b7418;
                background-color: #fcf1ac;
            }
            .btn-gratipay {
                background-color: #630;
                color:white
            }
            .btn-coinbase {
                background-color: #2b71b1;
                color: white
            }
        </style>
        <h1 class="text-center">Donate to Davine</h1>
        <h4>Davine is open source, open data, and ad-free. Any and all donations are very much appreciated, and only goes toward server costs and costs related directly to keeping the project alive.</h4>
        <ul style="list-style:none;text-align:center;">
            <li style="padding-bottom: 10px;">
                <a class="btn btn-lg btn-coinbase" href="https://coinbase.com/austindizzy" role="button">
                    <i class="fa fa-bitcoin"></i>&nbsp;
                    Donate through Coinbase
                </a>
            </li>
            <li style="padding-bottom: 10px;">
                <a class="btn btn-lg btn-gratipay" href="http://gratipay.com/austindizzy" role="button">
                    <i class="fa fa-gittip"></i>&nbsp;
                    Donate through Gratipay
                </a>                
            </li>
            <li style="padding-bottom: 10px;">
                <a class="btn btn-lg btn-dogecoin" href="dogecoin:DDizzyoqtZ3Tym4w6XvsJAuRLe3YRn5Sxr" role="button">
                    <b>&#272;</b>&nbsp;
                    Donate with Dogecoin
                </a>
            </li>
        </ul>
    </div>
</div>