<div class="container" id="page-container">
    <div id="carousel-banner" class="carousel slide" data-ride="carousel" data-interval="15000">
      <ol class="carousel-indicators">
        <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-banner" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active jumbotron chart-hero">
          <div class="container">
            <h3>Sign up for a free weekly digest of your Vine profile's growth.</h3>
            <h5>Stay up to date on your profile's growth.</h5>
            <a href="/sign-up" class="btn btn-default">Learn More</a>
          </div>
        </div>
        <div class="item text-center jumbotron chart-hero">
          <div class="container">
            <h3>Interested in custom reports, more detailed information, post-by-post analytics, and more?</h2>
            <h5>Sign up to stay up to date and get access first.</h5>
            <form id="email-submit-1">
                <div class="input-group" style="max-width: 300px;margin: 0 auto;">
                  <input type="email" name="email" class="form-control" placeholder="you@domain.com">
                  <input type="hidden" name="type" value="enterprise">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" style="border-left:0;background-color:#fff !important;">
                        <i class="fa fa-angle-double-right"></i>
                    </button>
                  </span>
                </div>
            </form>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-banner" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-banner" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-sm-8">
                <section>
                    <div class="page-header">
                        <h2>At a Glance</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4 text-center">
                            <div><b>Total Loops</b></div>
                            <div style="font-size:150%" id="totalLoops">
                              <span class="formatInt" data-format="0,0">{{TotalLoops}}</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 text-center">
                            <div><b>Total Posts</b></div>
                            <div style="font-size:150%" id="totalPosts">
                              <span class="formatInt" data-format="0,0">{{TotalPosts}}</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 text-center">
                            <div><b>Verified Users</b></div>
                            <div style="font-size:150%" id="totalVerified">
                              <span class="formatInt" data-format="0,0">{{TotalVerified}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4 text-center">
                            <div><b>Loops in 24h</b></div>
                            <div style="font-size:150%" id="24hLoops">
                              <span class="formatInt" data-format="0,0">{{24hLoops}}</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 text-center">
                            <div><b>Posts in 24h</b></div>
                            <div style="font-size:150%" id="24hPosts">
                              <span class="formatInt" data-format="0,0">{{24hPosts}}</span>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="page-header">
                        <h2>Popular Now</h2>
                    </div>
                    {{#popusers}}
                    <div class="col-sm-6 col-md-4">
                        {{ > userCard.html }}
                    </div>
                    {{/popusers}}
                </section>
            </div>
            <!--Featured Profile START-->
            <div class="col-sm-4">
                <div class="page-header">
                    <h2>Featured <span class="hidden-sm">Profile</span>
                        <small>
                            <small data-placement="top" data-toggle="tooltip" title="FAQ: &lt;a href='/about#featured'&gt;How do I get featured?&lt;/a&gt;">
                            ?
                            </small>
                        </small>
                    </h2>
                </div>
                {{#featuredUser}}
                <div class="col-sm-12 col-md-9">
                    {{ > userCard.html }}
                </div>
                <iframe class="clearfix" frameborder="0" height="250" src="https://vine.co/v/{{featuredPost}}/embed/simple" width="250"></iframe>
                {{/featuredUser}}
            </div>
            <!--Featured Profile END-->
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="modal fade" role="dialog" id="formSubmit">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container-fluid">
            <form class="form-horizontal" id="email-submit-2">
              <div class="form-group">
                <label for="inputEmail" style="color:#333;" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" name="email" class="form-control" id="inputEmail" readonly>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="g-recaptcha" data-sitekey="{{captcha}}"></div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                  <input type="hidden" name="type" value="enterprise">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-5">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
<script defer type="text/javascript">
    $(function() {
        $('.chart-hero').chartBG({
            width: $('.chart-hero:nth(0)').get(0).clientWidth,
            height: 250,
            n: 15,
            type: ["area", "areaspline", "line", "spline"]
        });

        $("#email-submit-1").submit(function(e){
            e.preventDefault();
            $.getScript('https://www.google.com/recaptcha/api.js', function(){
                $("#formSubmit").modal("toggle");
                $("#email-submit-2 input[name='email']").val($("input[name='email']:first").val());
            });
        });

        $("#email-submit-2").submit(function(e){
            e.preventDefault();
            $("#formSubmit").modal("toggle");
            var formData = {};
            $.each($(this).serializeArray(), function(_, kv) {
                formData[kv.name] = kv.value;
            });
            $.post("/sign-up", formData, function(data){
                r = JSON.parse(data);
                if (r.success) {
                    $("#email-submit-1").html("<span>Thanks! We'll be in touch.</span>");
                } else {
                    $("#email-submit-1").html("<span>Error: " + r.error + " Please refresh the page and try again.</span>");
                }
            });
        });

        var counts = {};
        setInterval(function(){
            $.getJSON("/api/statistics?" + new Date().getTime(), function(data){
               if(!data.success) {
                   console.log(data);
                   return;
               }
               $.each(Object.keys(data), function(i, k){
                  if(k != "success") {
                    var elem = $("#" + k);
                    if(elem.length) {
                        var current = counts[k] || 0;
                        $({count: current}).animate({count: data[k]}, {
                          duration: 500,
                          step: function() {
                            elem.text(numeral(parseInt(this.count)).format("0,0"));
                          }
                        });
                        counts[k] = data[k];
                    }
                  }
               });
            });
        }, 30 * 1000);
    });
</script>