<div class="container" id="page-container">
    <div id="carousel-banner" class="carousel slide" data-ride="carousel" data-interval="15000">
      <ol class="carousel-indicators">
        <li data-target="#carousel-banner" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-banner" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active jumbotron chart-hero">
          <div class="container">
            <h3>Sign up for a free weekly digest of your Vine profile's growth.</h3>
            <h5>Stay up to date on your profile's growth.</h5>
            <a href="/sign-up" class="btn btn-default">Learn More</a>
          </div>
        </div>
        <div class="item text-center jumbotron chart-hero">
          <div class="container">
            <h3>Interested in custom reports, more detailed information, post-by-post analytics, and more?</h2>
            <h5>Sign up to stay up to date and get access first.</h5>
            <form id="email-submit">
                <div class="input-group" style="max-width: 300px;margin: 0 auto;">
                  <input type="email" name="email" class="form-control" placeholder="you@domain.com">
                  <input type="hidden" name="type" value="enterprise">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" style="border-left:0;background-color:#fff !important;">
                        <i class="fa fa-angle-double-right"></i>
                    </button>
                  </span>
                </div>
            </form>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-banner" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-banner" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="page-header">
                     <h2>Popular Now</h2>
                </div>
                <!--CARD START-->
                {{#popusers}}
                <div class="col-sm-6 col-md-4">
                    <div class="panel panel-default panel-card">
                        <div class="panel-heading" data-color="{{ProfileBackground}}" data-name="{{Username}}">
                            <a class="btn btn-default btn-sm fa fa-vine" href="https://vine.co/u/{{UserIdStr}}" style="color: #{{ProfileBackground}}"></a>
                        </div>
                        <div class="panel-figure">
                            <img class="img-responsive img-circle" src="{{AvatarUrl}}">
                        </div>
                        <div class="panel-body text-center">
                             <h4 class="panel-header">
                                <a href="/u/{{UserIdStr}}">{{Username}}</a>
                            </h4>
                            <small>{{Description}}</small>
                        </div>
                        <div class="panel-thumbnails">
                            <div class="row">
                                <div class="col-xs-6 text-center">
                                    <span class="formatInt" data-format="0.0a">{{FollowerCount}}</span> 
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <span class="formatInt" data-format="0.0a">{{LoopCount}}</span>  
                                    <i class="fa fa-eye"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/popusers}}
            </div>
            <!--CARD END-->
            <!--Featured Profile START-->
            <div class="col-md-4 col-sm-4">
                <div class="page-header">
                    <h2>Featured <span class="hidden-sm">Profile</span>
                        <small>
                            <small data-placement="top" data-toggle="tooltip" title="FAQ: &lt;a href='/about#featured'&gt;How do I get featured?&lt;/a&gt;">
                            ?
                            </small>
                        </small>
                    </h2>
                </div>
                {{#featuredUser}}
                <div class="col-sm-12 col-md-9">
                    <div class="panel panel-default panel-card">
                        <div class="panel-heading" data-color="{{ProfileBackground}}" data-name="{{Username}}">
                            <a class="btn btn-default btn-sm fa fa-vine" href="https://vine.co/u/{{UserIdStr}}" style="color: #{{ProfileBackground}}; font-style: italic"></a>
                        </div>
                        <div class="panel-figure">
                            <img class="img-responsive img-circle" src="{{AvatarUrl}}">
                        </div>
                        <div class="panel-body text-center">
                             <h4 class="panel-header">
                                <a href="/u/{{UserIdStr}}">{{Username}}</a>
                            </h4>
                            <small>{{Description}}</small>
                        </div>
                        <div class="panel-thumbnails">
                            <div class="row">
                                <div class="col-xs-6 text-center">
                                    <span class="formatInt" data-format="0.0a">{{FollowerCount}}</span> 
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <span class="formatInt" data-format="0.0a">{{LoopCount}}</span>  
                                    <i class="fa fa-eye"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <iframe class="clearfix" frameborder="0" height="250" src="https://vine.co/v/{{featuredPost}}/embed/simple" width="250"></iframe>
                {{/featuredUser}}
            </div>
            <!--Featured Profile END-->
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-8 col-sm-10">
                <div class="page-header">
                     <h2>Trending</h2>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <caption>Updated once every hour. Will have ~25 users when live.</caption>
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Verified</th>
                                <th>Loops</th>
                                <th>Followers</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <a href="http://davine.co/u/robbyayala">Robby Ayala</a>
                                </th>
                                <td>&check;</td>
                                <td>
                                    725m <span data-sparkline="24, 26, 27, 26, 34, 38, 39"></span>
                                </td>
                                <td>
                                    3.3m <span data-sparkline="3325547, 3345987, 3425657, 3301247, 3485789, 3541259, 3514781"></span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <a href="http://davine.co/u.SarahHopkins">Sarah Hopkins</a>
                                </th>
                                <td>&times;</td>
                                <td>
                                    300m <span data-sparkline="290963625, 291875589, 292755157, 295534718, 297228814, 299433623, 300378838"></span>
                                </td>
                                <td>
                                    619k <span data-sparkline="611605, 612128, 613155, 616588, 617941, 618820, 619408"></span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <a href="http://davine.co/u/942914934646415360">Ruth B</a>
                                </th>
                                <td>&times;</td>
                                <td>
                                    201m <span data-sparkline="190178298, 191996379, 193367450, 195153402, 196942545, 198854529, 200102609, 201171326"></span>
                                </td>
                                <td>
                                    720k <span data-sparkline="684351, 690258, 695169, 700760, 706446, 711770, 716064, 719525"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div class="page-header">
                     <h2>At a Glance</h2>
                </div>
                <ul>
                    <li><b>Users Discovered:</b></li>
                    <li><b>Verified Viners:</b></li>
                    <li><b>New Users (in 24/hrs):</b></li>
                 </ul>
            </div>
        </div>
    </div>
</div>
<script defer type="text/javascript">
    $(function() {
        $('.chart-hero').chartBG({
            width: $('.chart-hero:nth(0)').get(0).clientWidth,
            height: 250,
            n: 15,
            type: ["area", "areaspline", "line", "spline"]
        });

        $("#email-submit").submit(function(e){
            e.preventDefault();
            var formData = {};
            $.each($(this).serializeArray(), function(_, kv) {
                formData[kv.name] = kv.value;
            });

            $.post("/sign-up", formData, function(data){
                $("#email-submit").html("<span>Thanks! We'll be in touch.</span>");
            });
        });
    });
</script>