<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:400,700">
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <link href="/css/main.css" rel="stylesheet" type="text/css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-main">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/top">Top</a></li>
        <li><a href="/discover">Discover</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form action="/search" class="search-form">
            <div class="form-group has-feedback">
              <label for="search" class="sr-only">Search</label>
              <input type="text" class="form-control" name="q" id="search" placeholder="user search">
              <input type="hidden" name="s" value="overall">
              <span class="fa fa-search form-control-feedback"></span>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron" id="head-hero">
    <div class="container text-center">
      <h1 id="head-link">Davine</h1>
      <p style="color:#F6F5F6;">Plant your vines, we'll watch them grow.</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p class="message"></p>
            <form id="user-submit">
              <div class="input-group stylish-input-group">
                <input type="text" name="user-link" class="form-control" placeholder="link to Vine profile">
                <span class="input-group-addon">
                  <button type="submit">
                    <span class="fa fa-sitemap"></span>
                  </button>
                </span>
              </div>
              <div class="text-center" style="color:white">or jump to a <a href="/random/user?" style="color:white;font-weight:bold">random user</a></div>
            </form>
        </div>
      </div>
    </div>
  </div>
  {{{content}}}
  <div class="container">
    <hr>
    <div class="row footer">
      <span class="col-xs-6 col-md-4 text-left text-muted">Not endorsed, affiliated with, or a part of <a href="https://vine.co" title="pls don't sue us, we're open source, open data, and make negative dollars on this project - all out of pocket">Vine Labs, Inc.</a></span>
      <span class="col-xs-6 col-md-4 col-md-offset-4 text-right">
        <a href="https://github.com/AustinDizzy/davine">Open Source</a> |
        <a href="/about#contact">Contact</a>
      </span>
    </div>
  </div>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.3/numeral.min.js"></script>
  <script src="/js/geopattern.min.js"></script>
  <script src="//code.highcharts.com/highcharts.js"></script>
  <script src="//code.highcharts.com/modules/exporting.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/tinycolor/1.1.1/tinycolor.min.js"></script>
  <script src="/js/index.js"></script>
</body>

</html>
