<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Davine - Vine Analytics</title>
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/page.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/icon.png">
    
    <meta name="description" content="Davine is a site where users of Vine can view their social metrics and find how well they rank among the most popular Viners.">
    <meta name="keywords" content="vine,vine users,social statisics,vine analytics,vine stats,vine statistics,popular vine users,find vine stats,vine data,popular viners,vine post tracking">
</head>

<body>
    <div class="jumbotron" style="display: block;">
        <div class="container text-center">
            <h1 id="head-link">Davine</h1>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-static-top" id="main-menu">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>

                    <li>
                        <a href="/discover">Discover</a>
                    </li>

                    <li>
                        <a href="/top">Top</a>
                    </li>

                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
                <span class="navbar-brand" style="display:none;color:#{{profileBackground}} !important">
                    <a href="/" style="text-decoration:none !important; color: inherit !important;">Davine</a>
                </span>
                <ul class="nav navbar-nav navbar-right">
                    <li id="search-cont" style="display:none">
                        <form class="navbar-form" role="search" action="/search" method="GET">
                            <div class="input-group">
                                <input type="text" class="form-control pull-right" name="q" style="width: 300px;" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button type="reset" class="btn btn-default search-hide">
                                        <span class="fa fa-remove">
                                            <span class="sr-only">Close</span>
                                        </span>
                                    </button>
                                    <button type="submit" class="btn btn-default">
                                        <span class="fa fa-search">
                                            <span class="sr-only">Search</span>
                                        </span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>
                    <li class="search-show">
                        <a href="#">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main">
        {{{content}}}
    </div>

    <div class="container" style="padding: 0;">
        <nav class="navbar navbar-default bottom-nav">
            <div class="container-fluid" style="width:100%">
                <p class="navbar-text navbar-left">
                    <a class="navbar-link" href="/top">Top 10</a> | <a class="navbar-link" href="/discover">Discover</a>
                </p>

                <p class="navbar-text navbar-right">
                    <a class="navbar-link" href="/about">About</a> | <a class="navbar-link" href="/about#faq">FAQ</a>
                </p>
            </div>
        </nav>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.3/numeral.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>