<!DOCTYPE html>
<html>
<head>
    <title>Davine - Vine Analytics</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/page.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="jumbotron" style="display: block;">
        <div class="container text-center">
            <h1 id="head-link">Davine</h1>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-static-top" id="main-menu">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>

                    <li>
                        <a href="/discover">Discover</a>
                    </li>

                    <li>
                        <a href="/top">Top</a>
                    </li>

                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
                <span class="navbar-brand" style="display:none;color:#{{profileBackground}} !important">
                    <a href="/" style="text-decoration:none !important; color: inherit !important;">Davine</a>
                </span>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <i class="fa fa-search" data-toggle="tooltip" data-container="body" data-placement="left" title="Advanced Search coming soon!"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main">
        {{{content}}}
    </div>

    <div class="container" style="padding: 0;">
        <nav class="navbar navbar-default bottom-nav">
            <div class="container-fluid" style="width:100%">
                <p class="navbar-text navbar-left">
                    <a class="navbar-link" href="/top">Top 10</a> | <a class="navbar-link" href="/discover">Discover</a>
                </p>

                <p class="navbar-text navbar-right">
                    <a class="navbar-link" href="/about">About</a> | <a class="navbar-link" href="/about#faq">FAQ</a>
                </p>
            </div>
        </nav>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.3/numeral.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>