<style type="text/css">
    .profile-content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .user-name {
        margin-left: 0.5em;
        font-size: 50px;
        font-weight: bold;
        margin-top: -1.25em;
        height: auto;
        position: absolute;
        color: white;
        display: inline-block;
    }
    .profile-text {
        margin-left: 0.5em;
        padding: 15px;
    }
    #user-banner {
        width: 100%;
        height: 200px;
        background-color: #{{ProfileBackground}};
    }
    .list-block {
            display: table;
            width: 100%;
            border-collapse: collapse;
            border: none;
        }
        .list-block ul {
            display: table-row;
        }
        .list-block li {
            display: table-cell;
            margin: 0;
        }
        .legend > li{
	        color: white;
	        background-color:#{{ProfileBackground}};
        }
        .legend li:not(:first-child) {
            border-left: 1px solid #fff;
        }
        #profile-nav a {
            color: #{{ProfileBackground}};
            padding: 20px 16px;
            border: 0;
        }
        .profile-buttons > a {
            margin-right: 5px;
        }
        #profile-content {
            background-color:#fff;
            border: 1px solid rgb(231,231,231);
            padding: 0;
            margin-top: -30px;
            border-top: 0;
        }
</style>
<div class="hidden">{{.}}</div>
<div class="container" id="profile-content">
      <div id="user-banner"></div>
    <div class="profile-content">
        <img src={{AvatarUrl}} height="200" class="img-thumbnail user-avatar" style="margin-top: -100px;float: left;">
        <span class="user-name">{{Username}}</span>
        <div class="col-md-4 profile-text">
            {{Description}}
            <br>
            <i>{{Location}}</i>
            <div class="profile-buttons">
                <a href="//vine.co/u/{{UserId}}" class="btn btn-default">
                    Open in <i class="fa fa-vine"></i>
                </a>
                <a href="/x/{{UserId}}" class="btn btn-default">
                    <i class="fa fa-download"></i> Download
                </a>
            </div>
        </div>
        <div style="padding-top: 15px;" class="col-md-3 col-md-offset-2">
            <div class="list-block">
                <ul class="text-center legend">
                    <li style="width: 50%;">
                        <h3>
                            <b class="formatInt" title="{{FollowerCount}} followers" data-format="0.0 a">
                                {{FollowerCount}}
                            </b>
                        </h3>
                        Followers
                    </li>
                    <li style="width: 50%;">
                        <h3>
                            <b class="formatInt" title="{{LoopCount}} loops" data-format="0 a">
                                {{LoopCount}}
                            </b>
                        </h3>
                        Loops
                    </li>
                </ul>
            </div>
        </div>           
    </div>
    <br>
    <span class="col-md-12 text-center lead">Jump to section:</span>
    <div id="profile-nav">
        <ul class="nav">
            <div class="profile-section-nav btn-group btn-group-lg btn-group-justified" role="group">
                <a href="#loops" role="navigation" class="btn btn-default">Loops</a>
                <a href="#followers" role="navigation" class="btn btn-default">Followers</a>
                <a href="#posts" role="navigation" class="btn btn-default">Posts</a>
                <a href="#following" role="navigation" class="btn btn-default">Following</a>
                <a href="#likes" role="navigation" class="btn btn-default">Likes</a>
                <a href="#misc" role="navigation" class="btn btn-default">Other</a>
            </div>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="page-header" id="loops">
            <h3>Loops <small>Loops vs. Original Posts</small></h3>
        </div>
        <div id="loopsChartContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div class="page-header" id="followers">
            <h3>Followers <small>Followers vs. Loops</small></h3>
        </div>
        <div id="followersChartContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div class="page-header" id="posts">
            <h3>Posts <small>Revines vs. Original Posts</small></h3>
        </div>
        <div id="postsChartContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div class="page-header" id="following">
            <h3>Following</h3>
        </div>
        <div id="followingChartContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div class="page-header" id="likes">
            <h3>Likes <small>Likes vs. Revines</small></h3>
        </div>
        <div id="likesChartContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div class="page-header" id="misc">
            <h3>Miscellaneous <small>Other statistics gathered</small></h3>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered">
                <caption>Previous Locations</caption>
                <th>Location</th><th>Modified Date</th>
                {{#previous.Location}}
                    <tr>
                        <td>{{Location}}</td>
                        <td>{{Modified}}</td>
                    </tr>
                {{/previous.Location}}
                {{^previous.Location}}
                    <tr>
                        <td colspan="2" class="text-center">No Previous Data Available</td>
                    </tr>
                {{/previous.Location}}
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered">
                <caption>Previous Usernames</caption>
                <th>Username</th><th>Modified Date</th>
                {{#previous.Username}}
                    <tr>
                        <td>{{Username}}</td>
                        <td>{{Modified}}</td>
                    </tr>
                {{/previous.Username}}
                {{^previous.Username}}
                    <tr>
                        <td colspan="2" class="text-center">No Previous Data Available</td>
                    </tr>
                {{/previous.Username}}
            </table>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered">
                <caption>Previous Descriptions</caption>
                <th>Description</th><th>Modified Date</th>
                {{#previous.Description}}
                    <tr>
                        <td>{{Description}}</td>
                        <td>{{Modified}}</td>
                    </tr>
                {{/previous.Description}}
                {{^previous.Description}}
                    <tr>
                        <td colspan="2" class="text-center">No Previous Data Available</td>
                    </tr>
                {{/previous.Description}}
            </table>
        </div>
        <div class="col-md-12 text-center lead">
            more data to come...
        </div>
        <script type="text/javascript">
            var userData = {{{UserDataJsonStr}}};
            var userMeta = {{{UserMetaJsonStr}}};
            var chartData = {followers:[],following:[],loops:[],posts:[],revines:[],likes:[]};
            
            for(var i = 0; i < userData.length; i++) {
                chartData.posts.push({x: userData[i].Recorded, y: userData[i].Posts});
                chartData.revines.push({x: userData[i].Recorded, y: userData[i].Revines});
            }
            $(function(){
               $('#postsChartContainer').highcharts({
                    chart: {
                        type: 'area'
                    },
                    colors: ['#{{ProfileBackground}}', tinycolor('#{{ProfileBackground}}').splitcomplement()[2].toHexString()],
                    title: {
                        text: null
                    },
                    subtitle: {
                        text: null
                    },
                    tooltip: {
                        shared: true
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: null
                        },
                        labels: {
                            formatter: function () {
                                return numeral(this.value).format('0 a');
                            }
                        }
                    },
                    plotOptions: {
                        area: {
                            stacking: "normal",
                            //pointStart: userData.updated[0],
                            //pointInterval: 24 * 3600 * 1000,
                            marker: {
                                enabled: false,
                                symbol: 'circle',
                                radius: 2,
                                states: {
                                    hover: {
                                        enabled: true
                                    }
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Posts',
                        data: chartData.posts
                    }, {
                        name: 'Revines',
                        data: chartData.revines
                    }]
                });
                $('#loopsChartContainer').highcharts({
                    chart: {
                        zoomType: 'xy'
                    },
                    colors: [tinycolor('#{{ProfileBackground}}').splitcomplement()[2].toHexString(), '#{{ProfileBackground}}'],
                    title: {
                        text: null
                    },
                    subtitle: {
                        text: null
                    },
                    tooltip: {
                        shared: true
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: [{
                        title: {
                            text: null
                        },
                        labels: {
                            formatter: function () {
                                return numeral(this.value).format('0.0 a');
                            }
                        }
                    }, {
                        title: {
                            text: null
                        },
                        labels: {
                            formatter: function() {
                                return numeral(this.value).format('0 a');
                            }
                        },
                        opposite: true
                    }],
                    tooptip: {
                        suffix: " loops"
                    },
                    plotOptions: {
                        series: {
                            pointStart: userData.updated[0],
                            pointInterval: 24 * 3600 * 1000
                        }
                    },
                    series: [{
                        name: 'Loops',
                        type: 'spline',
                        data: userData.loops,
                        zIndex: 2
                    }, {
                        name: 'Posts',
                        type: 'column',
                        data: userData.authoredPosts,
                        yAxis: 1,
                        zIndex: 1
                    }]
                });
                
                $('#followersChartContainer').highcharts({
                    chart: {
                        zoomType: 'xy'
                    },
                    colors: [tinycolor('#{{ProfileBackground}}').splitcomplement()[2].toHexString(), '#{{ProfileBackground}}'],
                    title: {
                        text: null
                    },
                    subtitle: {
                        text: null
                    },
                    tooltip: {
                        shared: true
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: [{
                        title: {
                            text: null
                        },
                        labels: {
                            formatter: function () {
                                return numeral(this.value).format('0.0 a');
                            }
                        }
                    }, {
                        title: {
                            text: null
                        },
                        labels: {
                            formatter: function() {
                                return numeral(this.value).format('0 a');
                            }
                        },
                        opposite: true
                    }],
                    plotOptions: {
                        series: {
                            pointStart: userData.updated[0],
                            pointInterval: 24 * 3600 * 1000
                        }
                    },
                    series: [{
                        name: 'Followers',
                        data: userData.followers,
                        type: 'spline'
                    }, {
                        name: 'Loops',
                        data: userData.loops,
                        type: 'spline',
                        opposite: true,
                        yAxis: 1
                    }]
                });
                
                $('#followingChartContainer').highcharts({
                    chart: {
                        zoomType: 'xy'
                    },
                    colors: [tinycolor('#{{ProfileBackground}}').splitcomplement()[2].toHexString(), '#{{ProfileBackground}}'],
                    title: {
                        text: null
                    },
                    subtitle: {
                        text: null
                    },
                    tooltip: {
                        shared: true
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: [{
                        title: {
                            text: null
                        },
                        labels: {
                            formatter: function () {
                                return numeral(this.value).format('0.0 a');
                            }
                        }
                    }],
                    plotOptions: {
                        series: {
                            pointStart: userData.updated[0],
                            pointInterval: 24 * 3600 * 1000
                        }
                    },
                    series: [{
                        name: 'Following',
                        type: 'area',
                        data: userData.following,
                    }]
                });
                
                $('#likesChartContainer').highcharts({
                    chart: {
                        zoomType: 'xy'
                    },
                    colors: [tinycolor('#{{ProfileBackground}}').splitcomplement()[2].toHexString(), '#{{ProfileBackground}}'],
                    title: {
                        text: null
                    },
                    subtitle: {
                        text: null
                    },
                    tooltip: {
                        shared: true
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: [{
                        title: {
                            text: null
                        },
                        labels: {
                            formatter: function () {
                                return numeral(this.value).format('0 a');
                            }
                        }
                    }, {
                        title: {
                            text: null
                        },
                        labels: {
                            formatter: function() {
                                return numeral(this.value).format('0 a');
                            }
                        },
                        opposite: true
                    }],
                    plotOptions: {
                        series: {
                            pointStart: userData.updated[0],
                            pointInterval: 24 * 3600 * 1000
                        }
                    },
                    series: [{
                        name: 'Likes',
                        data: userData.likes,
                    }, {
                        name: 'Revines',
                        data: userData.revines,
                        opposite: true,
                        yAxis: 1
                    }]
                });
                if ('{{ProfileBackground}}'.length != 0) {
                    $('#head-hero, #user-banner').geopattern('{{Username}}', {color: '#{{ProfileBackground}}'});
                } 
            });
        </script>
    </div>  
    </div>
</div>