<style type="text/css">
    .profile-content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .user-name {
        font-weight: bold;
        color: white;
        white-space: nowrap;
    }
    #user-banner {
        width: 100%;
        height: 200px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        background-color: #{{ProfileBackground}};
    }
    .list-block {
        display: table;
        width: 100%;
        border-collapse: collapse;
        border: none;
    }
    .list-block ul {
        display: table-row;
    }
    .list-block li {
        display: table-cell;
        margin: 0;
    }
    .legend > li{
        color: white;
        background-color:#{{ProfileBackground}};
    }
    .legend li:not(:first-child) {
        border-left: 1px solid #fff;
    }
    #profile-nav a {
        color: #{{ProfileBackground}};
        padding: 20px 16px;
        border: 0;
        font-weight: bold;
    }
    #profile-nav li {
        text-align: center;
        list-style: none;
    }
    .profile-buttons > a {
        margin-right: 5px;
    }
    #profile-content {
        background-color:#fff;
        border: 1px solid rgb(231,231,231);
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        padding: 0;
        border-top: 0;
    }
    @media(min-width:768px){
        .user-avatar {
            margin-top: -100px;
        }
        .user-name {
            margin-top: -1.45em;
            font-size: 50px;
        }
    }
    @media(max-width:767px){
        .user-avatar {
            margin-top: -275px;
        }
        .user-name {
            margin-top: -85px;
            text-align: center;
            font-size: 13vw;
        }
        .profile-buttons {
            text-align: center;
        }
        #badges {
            text-align: center;
        }
        #profile-content, #user-banner {
            border: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
    .label-nsfw {
        color: #d9534f;
        background-color: #333;
    }
    .label-verified {
        background-color: #00bf8f;
    }
</style>
<div class="container" id="profile-content">
    <div id="user-banner"></div>
    <div class="profile-content row">
        <div class="col-md-6 col-sm-8">
            <div class="col-md-5 col-sm-4 col-xs-6 col-xs-offset-3 col-sm-offset-0">
                <img src="{{AvatarUrl}}" height="200" class="img-thumbnail user-avatar">
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-md-7 col-sm-7 col-xs-12 profile-text">
                <div class="user-name">
                    {{Username}}
                </div>
                <div id="badges">
                    {{#Explicit}}
                        <span class="label label-nsfw">NSFW</span>&nbsp;
                    {{/Explicit}}
                    {{#Verified}}
                        <span class="label label-verified">&check; Verified</span>
                    {{/Verified}}
                </div>
                <p>
                    {{Description}}<br><i>{{Location}}</i>
                </p>
                <div class="profile-buttons">
                    <a href="//vine.co/u/{{UserId}}" class="btn btn-default">Open in</a>
                    <a href="/x/{{UserId}}" class="btn btn-default">Download</a>
                </div>
            </div>
        </div>
        <div style="padding-top: 15px;" class="col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
            <div class="list-block">
                <ul class="text-center legend">
                    <li style="width: 50%;">
                        <h3>
                            <b class="formatInt" title="{{FollowerCount}} followers" data-format="0.0 a">{{FollowerCount}}</b>
                        </h3>
                        Followers
                    </li>
                    <li style="width: 50%;">
                        <h3>
                            <b class="formatInt" title="{{LoopCount}} loops" data-format="0 a">{{LoopCount}}</b>
                        </h3>
                        Loops
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <span class="col-md-12 text-center lead">Jump to section:</span>
    <div id="profile-nav">
        <ul class="row">
            <li class="col-sm-2 col-xs-4">
                <a href="#loops" role="navigation" class="btn">Loops</a>
            </li>
            <li class="col-sm-2 col-xs-4">
                <a href="#followers" role="navigation" class="btn">Followers</a>
            </li>
            <li class="col-sm-2 col-xs-4">
                <a href="#posts" role="navigation" class="btn">Posts</a>
            </li>
            <li class="col-sm-2 col-xs-4">
                <a href="#following" role="navigation" class="btn">Following</a>
            </li>
            <li class="col-sm-2 col-xs-4">
                <a href="#likes" role="navigation" class="btn">Likes</a>
            </li>
            <li class="col-sm-2 col-xs-4">
                <a href="#misc" role="navigation" class="btn">Other</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="page-header" id="loops">
            <h3>Loops <small>Loops vs. Original Posts</small></h3>
        </div>
        <div id="loopsChartContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div class="page-header" id="followers">
            <h3>Followers <small>Followers vs. Loops</small></h3>
        </div>
        <div id="followersChartContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div class="page-header" id="posts">
            <h3>Posts <small>Revines vs. Original Posts</small></h3>
        </div>
        <div id="postsChartContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div class="page-header" id="following">
            <h3>Following</h3>
        </div>
        <div id="followingChartContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div class="page-header" id="likes">
            <h3>Likes <small>Likes vs. Revines</small></h3>
        </div>
        <div id="likesChartContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div class="page-header" id="misc">
            <h3>Miscellaneous <small>Other statistics gathered</small></h3>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered" id="meta-location">
                <caption>Previous Locations</caption>
                <tr>
                    <th>Location</th>
                    <th>Modified Date</th>
                </tr>
                <tr class="no-data-msg">
                    <td colspan="2" class="text-center">No Previous Data Available</td>
              </tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered" id="meta-username">
                <caption>Previous Usernames</caption>
                <tr>
                    <th>Username</th>
                    <th>Modified Date</th>
                </tr>
                <tr class="no-data-msg">
                    <td colspan="2" class="text-center">No Previous Data Available</td>
                </tr>
            </table>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered" id="meta-description">
                <caption>Previous Descriptions</caption>
                <tr>
                    <th>Description</th>
                    <th>Modified Date</th>
                </tr>
                <tr class="no-data-msg">
                    <td colspan="2" class="text-center">No Previous Data Available</td>
                </tr>
            </table>
        </div>
        <div class="col-md-12 text-center lead"> more data to come... </div>
    </div>
</div>
<script type="text/javascript">
    var userData = {{{UserDataJsonStr}}};
    var userMeta = {{{UserMetaJsonStr}}};
    var chartData = {
        followers:[],
        following:[],
        loops:[],
        posts:[],
        revines:[],
        likes:[],
        firstUpdated: userData == null ? null : userData[0].Recorded
    };

    for(var i = 0; !(userMeta == null) && i < userMeta.length; i++) {
        var validOpts = ["username","location","description"];
        if(validOpts.indexOf(userMeta[i].Record) > -1) {
            var msg = $("#meta-" + userMeta[i].Record + " .no-data-msg");
            if(msg.length) msg.remove();
            var elm = "<tr><td>" + userMeta[i].Value + "</td><td>" + userMeta[i].Updated + "</td><tr>";
            $("#meta-" + userMeta[i].Record).append(elm);
        }
    }

    for(var i = 0; !(userData == null) && i < userData.length; i++) {
        chartData.posts.push([userData[i].Recorded, userData[i].Posts]);
        chartData.revines.push([userData[i].Recorded, userData[i].Revines]);
        chartData.followers.push([userData[i].Recorded, userData[i].Followers]);
        chartData.following.push([userData[i].Recorded, userData[i].Following]);
        chartData.loops.push([userData[i].Recorded, userData[i].Loops]);
        chartData.likes.push([userData[i].Recorded, userData[i].Likes]);
    }
    $(function(){
       $('#postsChartContainer').highcharts({
            chart: {
                type: 'area'
            },
            colors: ['#{{ProfileBackground}}', tinycolor('#{{ProfileBackground}}').splitcomplement()[2].toHexString()],
            title: {
                text: null
            },
            subtitle: {
                text: null
            },
            tooltip: {
                shared: true
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: null
                },
                labels: {
                    formatter: function () {
                        return numeral(this.value).format('0 a');
                    }
                }
            },
            plotOptions: {
                area: {
                    stacking: "normal",
                    pointStart: new Date(chartData.firstUpdated).getTime(),
                    pointInterval: 3600*1000*(document.domain.endsWith("davine.co") ? 24 : (1/6)),
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            },
            series: [{
                name: 'Posts',
                data: chartData.posts
            }, {
                name: 'Revines',
                data: chartData.revines
            }]
        });
        $('#loopsChartContainer').highcharts({
            chart: {
                zoomType: 'xy'
            },
            colors: [tinycolor('#{{ProfileBackground}}').splitcomplement()[2].toHexString(), '#{{ProfileBackground}}'],
            title: {
                text: null
            },
            subtitle: {
                text: null
            },
            tooltip: {
                shared: true
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: [{
                title: {
                    text: null
                },
                labels: {
                    formatter: function () {
                        return numeral(this.value).format('0.0 a');
                    }
                }
            }, {
                title: {
                    text: null
                },
                labels: {
                    formatter: function() {
                        return numeral(this.value).format('0 a');
                    }
                },
                opposite: true
            }],
            tooptip: {
                suffix: " loops"
            },
            plotOptions: {
                series: {
                   pointStart: new Date(chartData.firstUpdated).getTime(),
                    pointInterval: 3600*1000*(document.domain.endsWith("davine.co") ? 24 : (1/6)),
                }
            },
            series: [{
                name: 'Loops',
                type: 'spline',
                data: chartData.loops,
                zIndex: 2
            }, {
                name: 'Posts',
                type: 'column',
                data: chartData.posts,
                yAxis: 1,
                zIndex: 1
            }]
        });

        $('#followersChartContainer').highcharts({
            chart: {
                zoomType: 'xy'
            },
            colors: [tinycolor('#{{ProfileBackground}}').splitcomplement()[2].toHexString(), '#{{ProfileBackground}}'],
            title: {
                text: null
            },
            subtitle: {
                text: null
            },
            tooltip: {
                shared: true
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: [{
                title: {
                    text: null
                },
                labels: {
                    formatter: function () {
                        return numeral(this.value).format('0.0 a');
                    }
                }
            }, {
                title: {
                    text: null
                },
                labels: {
                    formatter: function() {
                        return numeral(this.value).format('0 a');
                    }
                },
                opposite: true
            }],
            plotOptions: {
                series: {
                    pointStart: new Date(chartData.firstUpdated).getTime(),
                    pointInterval: 3600*1000*(document.domain.endsWith("davine.co") ? 24 : (1/6)),
                }
            },
            series: [{
                name: 'Followers',
                data: chartData.followers,
                type: 'spline'
            }, {
                name: 'Loops',
                data: chartData.loops,
                type: 'spline',
                opposite: true,
                yAxis: 1
            }]
        });

        $('#followingChartContainer').highcharts({
            chart: {
                zoomType: 'xy'
            },
            colors: [tinycolor('#{{ProfileBackground}}').splitcomplement()[2].toHexString(), '#{{ProfileBackground}}'],
            title: {
                text: null
            },
            subtitle: {
                text: null
            },
            tooltip: {
                shared: true
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: [{
                title: {
                    text: null
                },
                labels: {
                    formatter: function () {
                        return numeral(this.value).format('0.0 a');
                    }
                }
            }],
            plotOptions: {
                series: {
                    pointStart: new Date(chartData.firstUpdated).getTime(),
                    pointInterval: 3600*1000*(document.domain.endsWith("davine.co") ? 24 : (1/6)),
                }
            },
            series: [{
                name: 'Following',
                type: 'area',
                data: chartData.following,
            }]
        });

        $('#likesChartContainer').highcharts({
            chart: {
                zoomType: 'xy'
            },
            colors: [tinycolor('#{{ProfileBackground}}').splitcomplement()[2].toHexString(), '#{{ProfileBackground}}'],
            title: {
                text: null
            },
            subtitle: {
                text: null
            },
            tooltip: {
                shared: true
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: [{
                title: {
                    text: null
                },
                labels: {
                    formatter: function () {
                        return numeral(this.value).format('0 a');
                    }
                }
            }, {
                title: {
                    text: null
                },
                labels: {
                    formatter: function() {
                        return numeral(this.value).format('0 a');
                    }
                },
                opposite: true
            }],
            plotOptions: {
                series: {
                    pointStart: new Date(chartData.firstUpdated).getTime(),
                    pointInterval: 3600*1000*(document.domain.endsWith("davine.co") ? 24 : (1/6)),
                }
            },
            series: [{
                name: 'Likes',
                data: chartData.likes,
            }, {
                name: 'Revines',
                data: chartData.revines,
                opposite: true,
                yAxis: 1
            }]
        });
        if ('{{ProfileBackground}}'.length != 0) {
            $('#head-hero, #user-banner').geopattern('{{Username}}', {color: '#{{ProfileBackground}}'});
        }

        function fitText() {
            if($(window).width() < 768 && typeof jQuery.fitText == "undefined") {
                var url = "//cdnjs.cloudflare.com/ajax/libs/FitText.js/1.1/jquery.fittext.min.js";
                $.getScript((window.location.protocol == "https:" ? "https:" : "http:") + url, function(){
                  $(".user-name").fitText();
                });
            }
        }

        fitText();
        $(window).resize(fitText);
    });
</script>