<style type="text/css">
    .profile-content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .user-name {
        margin-left: 0.5em;
        font-size: 50px;
        font-weight: bold;
        margin-top: -1.25em;
        height: auto;
        position: absolute;
        color: white;
        display: inline-block;
    }
    .profile-text {
        margin-left: 0.5em;
        padding: 15px;
    }
    #user-banner {
        width: 100%;
        height: 200px;
        background-color: #{{profileBackground}};
    }
</style>

<div id="user-banner"></div>
<div class="profile-content">
    <img src={{avatarUrl}} height="200" class="img-thumbnail" style="margin-top: -100px;float: left;">
    <span class="user-name">{{username}}</span>
    <div class="col-md-4 profile-text">
        {{description}}
        <br>
        <i>{{location}}</i>
    </div>
    <div style="padding-top: 15px;" class="col-md-3 col-md-offset-2">
        <div class="list-block">
            <ul class="text-center legend">
                <li style="width: 50%;">
                    <h3>
                        <b class="formatInt" title="{{followers}} followers">
                            {{followers}}
                        </b>
                    </h3>
                    Followers
                </li>
                <li style="width: 50%;">
                    <h3>
                        <b class="formatInt" title="{{loops}} loops">
                            {{loops}}
                        </b>
                    </h3>
                    Loops
                </li>
            </ul>
        </div>
    </div>           
</div>
<br>
<span class="col-md-12 text-center lead">Jump to section:</span>
<div id="profile-nav">
    <ul class="nav">
        <div class="profile-section-nav btn-group btn-group-lg btn-group-justified" role="group">
            <a href="#posts" role="navigation" class="btn btn-default">Posts</a>
            <a href="#followers" role="navigation" class="btn btn-default">Followers</a>
            <a href="#loops" role="navigation" class="btn btn-default">Loops</a>
            <a href="#following" role="navigation" class="btn btn-default">Following</a>
            <a href="#likes" role="navigation" class="btn btn-default">Likes</a>
        </div>
    </ul>
</div>
<div class="col-md-12">
    <div class="page-header" id="posts">
        <h3>Posts <small>Revines vs. Original Posts</small></h3>
    </div>
    <div id="postsChartContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <script type="text/javascript">
        var fn = function(){

            var userData = {};

            userData.authoredPosts = "{{data.AuthoredPosts}}".substring(1, "{{data.AuthoredPosts}}".length - 1).split(" ");
            for (i = 0; i < userData.authoredPosts.length; i++){ userData.authoredPosts[i] = parseInt(userData.authoredPosts[i],10) }
            userData.revines = "{{data.Revines}}".substring(1, "{{data.Revines}}".length - 1).split(" ");
            for (i = 0; i < userData.revines.length; i++){ userData.revines[i] = parseInt(userData.revines[i],10) }
            userData.updated = "{{data.Updated}}".substring(1, "{{data.Updated}}".length - 1).replace(" UTC", " UTC,").split(",");
            for (i = 0; i < userData.updated.length; i++){ userData.updated[i] = Date.parse(userData.updated[i])}

            $('#postsChartContainer').highcharts({
                chart: {
                    type: 'area'
                },
                colors: ['#{{profileBackground}}', tinycolor('#{{profileBackground}}').splitcomplement()[2].toHexString()],
                title: {
                    text: null
                },
                subtitle: {
                    text: null
                },
                xAxis: {
                    type: 'datetime'
                },
                yAxis: {
                    title: {
                        text: null
                    },
                    labels: {
                        formatter: function () {
                            return numeral(this.value).format('0 a');
                        }
                    }
                },
                plotOptions: {
                    area: {
                        stacking: "normal",
                        pointStart: userData.updated[0],
                        pointInterval: 24 * 3600 * 1000,
                        marker: {
                            enabled: false,
                            symbol: 'circle',
                            radius: 2,
                            states: {
                                hover: {
                                    enabled: true
                                }
                            }
                        }
                    }
                },
                series: [{
                    name: 'Posts',
                    data: userData.authoredPosts
                }, {
                    name: 'Revines',
                    data: userData.revines
                }]
            });
        }

        document.addEventListener('DOMContentLoaded', fn, false);
    </script>
</div>