<div class="container">
    <!--<div class="text-right text-muted">-->
    <!--    Last Updated: <script type="text/javascript" charset="utf-8">document.write(new Date("{{lastUpdated}}").toLocaleString())</script>-->
    <!--</div>-->
    <div class="col-md-12">
        <h1>Top Overall Users  - <small>Most followers, most loops, and least following.</small></h1>
        <table class="table table-hover">
            {{#topOverall}}
                <tr>
                    <td>
                        <a data-user="{{UserId}}" data-vanity="{{Vanity}}">
                            <img src="{{AvatarUrl}}" alt="{{Username}}'s avatar" class="img-responsive" width="75px" />
                        </a>
                    </td>
                    <td style="vertical-align:middle">
                        <a data-user="{{UserId}}" data-vanity="{{Vanity}}">{{Username}}</a>
                    </td>
                    <td style="vertical-align:middle">
                        <span class="formatInt" data-format="0,0">{{FollowerCount}}</span> followers
                    </td>
                    <td style="vertical-align:middle">
                        following <span class="formatInt" data-format="0,0">{{FollowingCount}}</span>
                    </td>
                    <td style="vertical-align:middle">
                        <span class="formatInt" data-format="0,0">{{LoopCount}}</span> loops
                    </td>
                </tr>
            {{/topOverall}}
        </table>
    </div>
</div>
<div class="jumbotron text-center" id="dataset-hero">
    <h2>Want more detailed information?</h2>
    <h4>Contact us to run custom queries against the Vine user dataset.</h4>
    <form id="email-submit">
        <div class="input-group" style="max-width: 300px;margin: 0 auto;">
          <input type="email" name="email" class="form-control" placeholder="you@domain.com">
          <input type="hidden" name="type" value="enterprise">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" style="border-left:0;background-color:#fff !important;">
                <i class="fa fa-angle-double-right"></i>
            </button>
          </span>
        </div> 
    </form>
</div>
<div class="container">
    <div class="col-md-6">
        <h1>Most Followed Users</h1>
        <table class="table table-condensed table-hover">
            {{#topFollowed}}
                <tr>
                    <td>
                        <a data-user="{{UserId}}" data-vanity="{{Vanity}}">{{Username}}</a>
                    </td>
                    <td class="formatInt" data-format="0,0">{{FollowerCount}}</td>
                </tr>
            {{/topFollowed}}
        </table>
    </div>
    <div class="col-md-6">
        <h1>Most Watched Users</h1>
        <table class="table table-condensed table-hover">
            {{#topLooped}}
                <tr>
                    <td>
                        <a data-user="{{UserId}}" data-vanity="{{Vanity}}">{{Username}}</a>
                    </td>
                    <td class="formatInt" data-format="0,0">{{LoopCount}}</td>
                </tr>
            {{/topLooped}}
        </table>
    </div>
    <div class="col-md-6">
        <h2>Top Original Posters</h2>
        <table class="table table-condensed table-hover">
            {{#topPosts}}
                <tr>
                    <td>
                        <a data-user="{{UserId}}" data-vanity="{{Vanity}}">{{Username}}</a>
                    </td>
                    <td class="formatInt" data-format="0,0">{{PostCount}}</td>
                </tr>
            {{/topPosts}}
        </table>
    </div>
    <div class="col-md-6">
        <h2>Top Reviners</h2>
        <table class="table table-condensed table-hover">
            {{#topRevines}}
                <tr>
                    <td>
                        <a data-user="{{UserId}}" data-vanity="{{Vanity}}">{{Username}}</a>
                    </td>
                    <td class="formatInt" data-format="0,0">{{RevineCount}}</td>
                </tr>
            {{/topRevines}}
        </table>
    </div>
</div>
<script defer type="text/javascript">
    $(function(){
        $("#dataset-hero").chartBG({
            n: 25
        });

        $("#email-submit").submit(function(e){
            e.preventDefault();
            var formData = {};
            $.each($(this).serializeArray(), function(_, kv) {
                formData[kv.name] = kv.value;
            });

            $.post("/sign-up", formData, function(data){
                $("#email-submit").html("<span>Thanks! We'll be in touch.</span>");
            });
        });
    });
</script>