<div class="text-center">
    <h2>404 - User not found</h2>
    <span>
        The user '{{user}}' was not found in our database. 
        <a href="/">Go Home</a> to submit their profile to be crawled.
        If this user is indeed a Vine user, please make sure you typed the
        URL properly.
    </span>
</div>